*{
    box-sizing: border-box;
}
.clearfix::after {
    content:"";
    display: table;
    clear:both;
}
.logo{
    float:left;
    color:yellow;
    font-size:2em;
    text-align: center;
}
.line{
    height:7px;
    width:50px;
    margin:5px auto;
    border-radius:5px;
    background-color: yellow;
} 
nav li{
    float: left;
    display:none;
}
nav li:first-child{
    float:right;
    display:inline-block;
}
ul{
    list-style:none;
}
header{
    background: black;
    border-bottom: solid 2px yellow;
}
.caption{
    background: lightgray;
}
.taste{
    text-decoration: line-through;
    color:gray;



}
.are{
    border-bottom: solid 1px yellow;
}
.tagline{
    text-align:center;
    font-style:italic;
}


.cover {
    background-position: center;
    background-image: url("../images/coworking.jpg");
    height: 60vh;
    width:100vw;
    background-repeat: no-repeat;
}

.match {
    background:rgba(255,255,255,.8);
    border: solid 1px black;
    height:250px;
    width:350px;
    float:right;
    margin: 10%;
    z-index: 2;
}



.bold {
    font-weight: bolder;
    font-size: 1.5em;
}

.button {
    background:yellow;
    text-align: center;
    opacity: 1.0;

}